.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.word-box {
  padding: 20px;
  flex: 1;
  min-width: 500px;
  text-align: center;
}

.game-box {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.complete {
  background-color: green;
}
.each-letter {
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  text-transform:uppercase;
}
.selected{
  background: blue;
}
.given-word {
  flex: 1;
  padding:0 30px ;
  display: flex;
  flex-wrap: wrap;
}
.given-word .each-word{
  padding: 10px 20px;
}
.wordFound {
text-decoration: line-through;
color: gray;
}
.found{
  background-color: yellow;
}
.complete {
background-color: green !important;
}
.two-player {
  margin-bottom: 30px;
}
.two-player > div{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.first-player, .second-player{
  text-align: center;
}
